/* Typography 
h1 {
	font-size: 5vh;
}*/

/* Placement */
.top-right {
	text-align: right;
}

.top-right table {
	float: right;
}

.top-right td {
	padding-left: 10px;
}

/* Colors */
body {
	color: white;
	background-color: black;
}

h1 small {
	color: #D3D3D3;
}